{% extends 'base.html.twig' %}

{% block title %} NAO - Connexion {% endblock %}

{% block body %}
    {% if error %}
        <div>
            {{ error.messageKey }}
        </div>
    {% endif %}
<div class="center">
    <h1>Connexion</h1>
</div>
    {{ include('common/breadcrumb.html.twig', {'breadcrumb' : breadcrumb }) }}
<div class="container">
    <br/>
    <div class="row">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {{ form_start(form, {'action': path('security_login'), 'method': 'POST'}) }}
            <div class="form-group row">
                <div class="col s6">
                    {{ form_row(form._username) }}
                </div>
                <div class="col s6">
                    {{ form_row(form._password) }}
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <div class="center">
                    <button class="btn btn-connexion" type="submit">Valider</button>
                </div>

            </div>


        {{ form_end(form) }}
    </div>
    <div class="center">
        <a href="{{ path('forget-password') }}">Mot de passe oublié</a>
        <br/>
        <a href="{{ path('user_registration') }}">S'inscrire</a>
    </div>
</div>




{% endblock %}