{% extends 'base.html.twig' %}
{% form_theme form 'materialize_layout.html.twig' %}

{% block title %}Éditer article - NAO{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('assets/js/tinymce/tinymce.min.js') }}"></script>
    <script>
        tinymce.init({
            selector:'.tinymce',
            height: 400,
            plugins: 'image link lists advlist autolink media',
            menubar: false,
            toolbar: ' undo redo | formatselect | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | cut copy paste | link image media'
        });
    </script>
{% endblock %}

{% block body %}
    {{ include('common/header.html.twig', {'title' : 'Editer article'}) }}
    {{ include('common/breadcrumb.html.twig', {'breadcrumb' : breadcrumb }) }}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {% if form.image is defined %}
            {{ form_widget(form.image) }}
        {% endif %}
        {% if form.delete_image is defined %}
            {{ form_widget(form.delete_image) }}
        {% endif %}

        <div class="row center margin-t margin-b">
            {% if form.publish is defined %}
                {{ form_widget(form.publish, { 'attr' : { 'class' : 'btn-round btn-brown'}}) }}
            {% endif %}
            {{ form_widget(form.save, { 'attr' : { 'class' : 'btn-round btn-brown'}}) }}
            {{ form_widget(form.delete, { 'attr' : { 'class' : 'btn-round btn-brown'}}) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}