{% extends 'base.html.twig' %}
{% form_theme form 'materialize_layout.html.twig' %}

{% block title %}Éditer article - NAO{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('assets/js/tinymce/tinymce.min.js') }}"></script>
    <script>
        tinymce.init({
            selector:'.tinymce',
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.image) }}

        <div class="row center">
            {% if form.publish is defined %}
                {{ form_widget(form.publish) }}
            {% endif %}
            {{ form_widget(form.save) }}
            {{ form_widget(form.delete) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}