{% extends 'base.html.twig' %}

{% block title %}Gérer les articles - NAO{% endblock %}

{% block body %}
    {% for i in 0..1 %}
    <div class="row">
        {% for j in 0..2%}
            {% set k = 3*i+j %}
            {% if articles|length > k %}
            <div class="col s12 l4">
                <div class="card">
                    <div class="card-content card-custom">
                        <div class="row">
                            <div class="center">
                                <img src="
                            {% if articles[k].image is null %}
                            http://via.placeholder.com/750x350
                            {% else %}
                                {{ image_article_directory }}/{{ articles[k].image }}
                            {% endif %}
                            " alt="article_" class="height-img">
                            </div>
                            <div class="col s10">
                                <p>{{ articles[k].title }} - {{ articles[k].modificationDate|date("d/m/Y") }}</p>
                                {% if not articles[k].status %}
                                    <p>Broullion</p>
                                {% else %}
                                 <p>Publié</p>
                                {% endif %}
                            </div>
                            <div class="col s2">
                                <a href="{{ path('edit-article', {'id': 1, 'id_article': articles[k].id}) }}" class="btn-floating btn-large"><i class="material-icons">add</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    <div class="row">
        <div class="col s12">
            {{ form_start(form) }}

            <div class="center-align">
                {{ form_widget(form.addArticle) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
    <div class="row center">
        {{ include('common/pagination.html.twig', {'paginaion' : pagination}) }}
    </div>
{% endblock %}