{% extends 'base.html.twig' %}

{% block title %}Gérer les articles - NAO{% endblock %}

{% block body %}
    <div class="row">
        {% for article in articles%}
        <div class="col s12 l4">
            <div class="card">
                <div class="card-content card-custom">
                    <div class="row">
                        <img src="http://via.placeholder.com/500x350" alt="article_" class="responsive-img">
                        <div class="col s10">
                            <p>{{ article.title }} - {{ article.modificationDate|date("d/m/Y") }}</p>
                            {% if not article.status %}
                                <p>Broullion</p>
                            {% else %}
                                <p>Publié</p>
                            {% endif %}
                        </div>
                        <div class="col s2">
                            <a href="{{ path('edit-article', {'id': 1, 'id_article': article.id}) }}" class="btn-floating btn-large"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col s12">
            {{ form_start(form) }}

            <div class="center-align">
                {{ form_widget(form.addArticle) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}