{% extends 'base.html.twig' %}

{% block title %} Espèces {% endblock %}

{% block body %}
    <div class="valign-wrapper big-header" id="species_header">
        <h1>Espèces</h1>
    </div>
    <div>
        <nav class="ariane">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">Accueil</a>
                    <a href="{{ path('oiseaux') }}" class="breadcrumb">Espèces</a>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">Rechercher<i class="material-icons">expand_more</i></div>
                <div class="collapsible-body"><span>
                    <p>tidammm</p>
                </span></div>
            </li>
        </ul>
    </div>

    <div class="row">
        {% for bird in birds %}
            <div class="col s12 m6 l2">
                <div class="card">
                    <div class="card-image image-species">
                        {% if bird.image %}
                            {{ bird.image }}
                        {% else %}
                            <img src="{{ asset('assets/img/bg_espece_inconnue.png') }}">
                        {% endif %}

                    </div>
                    <div class="card-content content-species">
                        <div class="card-title title-species">{{ bird.vernacularName }}</div>
                        <p>Animal observé XX fois</p>
                        <a class="waves-effect waves-light btn-small btn-species">Voir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}