{% extends 'base.html.twig' %}

{% block title %} Espèces {% endblock %}

{% block body %}
    {#<div class="valign-wrapper big-header" id="species_header">#}
        {#<h1>Espèces</h1>#}
    {#</div>#}
    {{ include('common/header.html.twig', {'asset' : 'assets/img/bg-especes.jpg', 'alt' : 'header_espece', 'title' : 'Espèces'}) }}
    {{ include('common/breadcrumb.html.twig', {'breadcrumb' : breadcrumb }) }}
    <div>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header search">Rechercher<i class="material-icons">expand_more</i></div>
                <div class="collapsible-body">
                    {{ form_start(form) }}
                    <div class="row" id="bird-autocomplete">
                        <div class="input-field col s12">
                            <input type="text" id="family-input"  @input="searchFamily" class="autocomplete" autocomplete="off">
                            <label for="family-input">Famille</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="text" id="bird-input"  @input="search" class="autocomplete" autocomplete="off">
                            <label for="bird-input">Critère de recherche (Nom - Famille - Ordre)</label>
                        </div>
                        <div>
                            <!--select -->

                            {{ form_row(form.sort) }}



                        </div>
                        <button class="btn btn-connexion center-align" type="submit"> Rechercher</button>
                        {{ form_end(form) }}

                    </div>
                </div>
            </li>
        </ul>
    </div>


    <div class="row">
        {% for result in birds %}
            <div class="col s12 m4 l2">
                <div class="card-species card-radius">
                    <div class="card-image-species center">
                        <img src="
                               {% if result.0.image %}
                                    {{ asset('assets/img/birds/'~result.0.image) }}
                                {% else %}
                                    {{ asset('assets/img/bg_espece_inconnue_gris_2.jpg') }}
                                {% endif %}
                            " class="card-image responsive-img">
                    </div>
                    <div class="card-content-species center">
                        <h6 class="center">{{ result.0.vernacularName }}</h6>
                        <p>Animal observé {{ result.nbObsValid }} fois</p>
                        <a href="{{ path('oiseau', {'id': result.0.id}) }}"  class="btn-round btn-teal btn-small btn-species">Voir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="center-align">
            {{ include('common/pagination.html.twig', {'paginaion' : pagination}) }}
        </div>
    </div>
{% endblock %}

{% block autocomplete %}
    <script src="{{ asset('build/speciesAutocomplete.js') }}"></script>
{% endblock%}