{% extends 'base.html.twig' %}

{% block title %} Exploration {% endblock %}

{% block body %}
    {{ include('common/header.html.twig', {'asset' : 'assets/img/bg-exploration.jpg', 'alt' : 'header_exploration', 'title' : 'Exploration'}) }}
    {{ include('common/breadcrumb.html.twig', {'breadcrumb' : breadcrumb }) }}

    <div>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header search">Rechercher<i class="material-icons">expand_more</i></div>
                <div class="collapsible-body">
                    <div class="row">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col s12" id="exploration-autocomplete">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" id="autocomplete-input"  @input="search" class="autocomplete" autocomplete="off">
                                        <label for="autocomplete-input">Nom de l'espèce</label>
                                    </div>
                                </div>
                                {{ form_row(form.bird) }}
                            </div>
                            {#{{ form_row(form.address) }}#}
                        </div>
                        {#<div class="col s6">
                            {{ form_row(form.observationDate) }}
                        </div>#}
                    </div>
                        <button class="btn btn-search" type="submit" id="btn-search">Rechercher</button>
                    {{ form_end(form) }}
                </div>
            </li>
        </ul>
    </div>
    <div class="map" id="mappex"></div>
{% endblock %}
