{% extends 'base.html.twig' %}

{% block title %} Exploration {% endblock %}

{% block body %}
    <div class="center">
        <h1>Exploration</h1>
    </div>
    <div>
        <nav class="ariane">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">Accueil</a>
                    <a href="{{ path('exploration') }}" class="breadcrumb">Exploration</a>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">Rechercher<i class="material-icons">expand_more</i></div>
                <div class="collapsible-body"><span>
                    {{ form_start(form) }}
                    {{ form_row(form.bird) }}
                    {{ form_row(form.location) }}
                    {{ form_row(form.observation_date) }}
                    {{ form_end(form) }}
                </span></div>
            </li>
        </ul>
    </div>
    <br/>
    <div id="map"></div>
    <br>
{% endblock %}