{% extends 'base.html.twig' %}

{% block title %}Accueil - NAO{% endblock %}

{% block body %}
        {% block slider %}
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="{{ asset('assets/img/bg-accueil.jpg') }}" alt="Accueil"> <!-- Accueil image -->
                        <div class="caption center-align margin-bottom-slide">
                            <h1 class="lighter">Nos Amis les Oiseaux</h1>
                            <div class="center-align margin-bottom-slide">
                                <a href="{{ path('user_registration') }}"><button class="btn btn-round btn-brown">Inscrivez-vous</button></a>
                                {% if is_granted(['ROLE_PARTICULAR', 'ROLE_NATURALIST', 'ROLE_EDITOR', 'ROLE_ADMIN'])  %}
                                    <a href="{{ path('profil', {'id': app.user.id}) }}"><button class="btn btn-round btn-brown">Mon profil</button></a>
                                {% else %}
                                    <a href="{{ path('explorer') }}"><button class="btn btn-round btn-brown">Découvrir</button></a>
                                {% endif %}

                            </div>
                            <div>
                                <a class="section scrollspy white-text" href="#commentCaMarche"><i class="medium material-icons">expand_more</i></a>
                            </div>
                        </div>

                    </li>
                    <li>
                        <img src="{{ asset('assets/img/bg-restez-informes.jpg') }}" alt="Restez informer"> <!-- Informez vous image -->
                        <div class="caption center-align center row newsletter">
                            <h2 class="lighter">Restez informé</h2>
                            <div class="container col s12">
                                {% set formNews = form_newsletter.getForm().createView() %}
                                {{ form_start(formNews) }}
                                <div class="col s12 l7">
                                    {{ form_row(formNews.email) }}
                                    {#<input type="email" placeholder="Inscrivez-vous à la Newsletter">#}
                                </div>
                                <div class="col S12 l5">
                                    {{ form_row(formNews.submit, { 'attr' : { 'class' : 'btn-round btn-brown'}}) }}
                                    {#<button class="btn btn-round btn-brown">S'inscrire</button>#}
                                </div>
                                {{ form_end(formNews) }}
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/bg-suivez-nous.jpg') }}" alt="Suivez nous"> <!-- Suivez nous image -->
                        <div class="caption center-align center margin-bottom-slide">
                            <h2 class="lighter">Restez informé</h2>
                            <div class="margin-bottom-slide">
                                <a target="_blank" href="https://www.facebook.com/nosamislesoiseauxasso"><button  class="btn btn-round fb">Rejoignez-nous <img id="fb" class="right-align" src="{{ asset('assets/img/logo_bouton_fb.png') }}" alt="Facebook"> </button></a> {##}
                                <a target="_blank" href="https://www.instagram.com/noa_association/"><button  class="btn btn-round insta">Suivez-nous <img id="insta" src="{{ asset('assets/img/logo_bouton_instagram.svg') }}" alt="Instagram"> </button></a> {##}
                            </div>
                            <br/>
                            <div>
                                <a class="section scrollspy white-text" href="#commentCaMarche"><i class="medium material-icons">expand_more</i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        {% endblock %}

        {% block commentCaMarche %}
            <div class="container">
                <div class="title center margin-bot-top">
                    <h2 id="commentCaMarche" class="lighter">Comment ça marche ?</h2>
                </div>
                <div class="row margin-top">
                    <div class="col s12 l4 center margin-top">
                        <img class="circle responsive-img col offset-s2 s8" src="{{ asset('assets/img/img_mes_observations.jpg') }}" alt="Mes observations">
                        <h3 class="lighter col s12">Je découvre une nouvelle espèce</h3>
                        <p class="margin-top col s12">
                            Je fais profiter la communauté de mon observation en ajoutant sa photo et sa position géographique depuis mon tableau de bord
                        </p>
                    </div>
                    <div class="col s12 l4 center margin-top">
                        <img class="circle responsive-img col offset-s2 s8" src="{{ asset('assets/img/img_nouvelles_especes.jpg') }}" alt="Nouvelle espèces">
                        <h3 class="lighter col s12">J'enregistre l'observation</h3>
                        <p class="margin-top col s12">
                            Je partage mon observation avec les autres passionnés et les scientifiques après vérification par un naturaliste
                        </p>
                    </div>
                    <div class="col s12 l4 center margin-top">
                        <img class="circle responsive-img col offset-s2 s8" src="{{ asset('assets/img/img_validation.jpg') }}" alt="Validation">
                        <h3 class="lighter col s12">Un naturaliste valide ma saisie</h3>
                        <p class="margin-top col s12">
                            Je contribue au programme de recherche de préservation de la nature et sensibilise les utilisateurs à la protection de la biodiversité
                    </div>
                </div>
                <hr class="margin-top">
            </div>
        {% endblock %}

        {% block presentation %}
            <div class="container">
                <div class="row">
                    <h2 class="col s12 center lighter">Présentation</h2>
                </div>
                <div class="row">
                    <div class="col s12 l6">
                        <img class="border-teal responsive-img full-width" src="{{ asset('assets/img/img_presentation.jpg') }}" alt="Presentation">
                    </div>
                    <div class="col s12 l6">
                        <p class="text-justify">
                            L’association à but non lucratif (loi 1901) à vocation scientifique, Nos Amis les Oiseaux, est née de la volonté du Dr Michel Dujardin, docteur en ornithologie, de tout mettre en oeuvre pour préserver les oiseaux et de sensibiliser un maximum d'utilisateurs à la protection de la biodiversité grâce à un système d'observations participatives.
                        </p>
                        <br>
                        <p class="text-justify">
                            L’association donne l’opportunité à chaque personne souhaitant contribuer au développement et à la préservation de la biodiversité, de devenir un scientifique citoyen, en participant à un programme de recherche, mené par le Muséum National d'Histoire Naturelle, qui s'appuie sur le recensement des différentes espèces que chacun d'entre nous partageons régulièrement.
                        </p>
                        <br>
                        <p class="text-justify">
                            Ainsi où que vous soyez naturaliste, scientifique ou particulier, vous pourrez partager vos observations et vos photos depuis votre mobile ou votre ordinateur pour enrichir notre programme d’études et être un véritable acteur de la préservation de l’environnement.

                            N’hésitez pas à ajouter votre pierre à l'édifice et rejoindre nos 1200 adhérents. Nos Amis les Oiseaux, c’est la réunion de passionnés, de randonneurs, d'amoureux de la nature, de fous d'ornithologie.
                        </p>
                        <br>
                        <p class="text-justify">
                            Parce que chaque petit pas ici est un grand pas pour la biodiversité…
                        </p>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block participationProjet %}
            <div class="row margin-top" id="backgroundPresentation">
                <div class="container">
                        <div class="row padding-top">
                            <h2 class="center">Participer au projet</h2>
                        </div>
                        <div class="row">
                            <p class="margin-top text-justify">
                                Participer au projet c’est devenir un scientifique citoyen et un acteur du bon développement et de la préservation de la biodiversité qui vous entoure.
                                Que vous soyez randonneur, passionné ou ornithologue, chaque observation que vous apportez est un grand pas pour la sauvegarde des oiseaux de France et de nos jardins.
                            </p>
                        </div>
                        <div class="center margin-top padding-bottom">
                            <a href="{{ path('user_registration') }}" class="btn btn-brown btn-round"> S'enregistrer immédiatement</a>
                        </div>
                </div>
            </div>
        {% endblock %}

        {% block lastObservation %}
                <div class="container row margin-top margin-bottom">
                    <h2 class="center lighter">Dernières observations</h2>
                    <div class="margin-top">
                        {% for observation in observations %}
                        <div class="col s12 l4">
                            <div class="card card-radius card-height">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="{{ image_observation_directory}}/{{ observation.0.image }}">
                                </div>
                                <div class="card-content center">
                                    <h6>{{ observation.0.bird.vernacularName }} - ({{ observation.0.bird.lbName }})</h6>
                                    <p>
                                        Animal observé
                                           {{ observation.nbValidObs }}
                                        fois
                                    </p>
                                    <a href="{{ path('view_observation', {'id': observation.0.id}) }}"><button class="btn btn-voir-plus" type="button">Voir plus</button></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        {% endblock %}

{% endblock %}