{% extends 'base.html.twig' %}

{% block title %}Observation - NAO{% endblock %}

{% block body %}
    {{ include('common/header.html.twig', {'title' : 'Observation'}) }}
    {{ include('common/breadcrumb.html.twig', {'breadcrumb' : breadcrumb }) }}
    <div class="row container margin-t">
        <div class="row">
            <div class="col s12 l6">
                <img src="{{ image_observation_directory}}/{{ observation.image }}" alt="photo-observation" class="responsive-img border-teal">
            </div>
            <div class="col s12 l6">
                {% if observation.status == 0 %}
                    {{ form_start(form) }}
                {% endif %}
                <div class="row">
                    <h3 class="col s12">
                        {% if observation.status == 0 %}
                            {{ form_row(form.bird) }}
                        {% else %}
                            {{ observation.bird.lbName }}
                        {% endif %}
                    </h3>
                    <div class="col s12 margin-y">Observateur : <a href="{{ path('profil', {'id' : observation.observer.id}) }}">{{ observation.observer.lastname }} {{ observation.observer.firstname }}</a></div>
                    <div class="col s12 margin-y">Date d'observation : {{ observation.observationDate|date("d/m/Y") }} </div>
                    <div class="col s12 margin-y">Date d'ajout : {{ observation.addingDate|date("d/m/Y") }}</div>
                    <div class="col s12 margin-y">Localisation : </div>
                    {% if observation.status == 0 %}
                        <div class="col s12 margin-y">
                            Demande en cours de validation
                        </div>
                        <div class="col s12 margin-y">
                            {{ form_widget(form.valide) }}
                            {{ form_widget(form.decline) }}
                        </div>
                    {% endif %}
                </div>
                {% if observation.status == 0 %}
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
        <div class="row margin-t margin-b">
            <div id="mapObser"></div>
        </div>
    </div>
{% endblock %}