{% extends 'base.html.twig' %}

{% block title %}Notre association - NAO{% endblock %}

{% block body %}
    {{ include('common/header.html.twig', {'asset' : 'assets/img/bd-presentation.jpg', 'alt' : 'header_blog', 'title' : 'Notre association'}) }}
    {{ include('common/breadcrumb.html.twig', {'breadcrumb' : breadcrumb }) }}
    <div class="container margin-t">
        <div class="row">
            <h3 class="margin-t lighter center-align">Qui somme nous ?</h3>
        </div>
    </div>
    <div class="border-teal-bottom">
        <div class="container margin-t margin-b ">
            <div class="row">
                <div class="col s12 l8">
                    <p class="text-justify">
                        L’association à but non lucratif (loi 1901) à vocation scientifique, Nos Amis les Oiseaux, est née de la volonté du Dr Michel Dujardin, docteur en ornithologie, de tout mettre en oeuvre pour préserver les oiseaux et de sensibiliser un maximum d'utilisateurs à la protection de la biodiversité grâce à un système d'observation participative.
                        <br>
                        L’association donne l’opportunité à chaque personne souhaitant contribuer au développement et à la préservation de la biodiversité, de devenir un scientifique citoyen, en participant à un programme de recherche, mené par le Muséum National d'Histoire Naturelle, qui s'appuie sur le recensement des différentes espèces que chacun d'entre nous partageons régulièrement.
                        <br>
                        Ainsi où que vous soyez naturaliste, scientifique ou particulier, vous pourrez partager vos observations et vos photos depuis votre mobile ou votre ordinateur pour enrichir notre programme d’études et être un véritable acteur de la préservation de l’environnement.
                        <br>
                        N’hésitez pas à ajouter votre pierre à l'édifice et rejoindre nos 1200 adhérents, Nos Amis les Oiseaux, c’est la réunion de passionnés, de randonneurs, d'amoureux de la nature et de fous d'ornithologie.
                        <br>
                        Parce que chaque petit pas ici est un grand pas pour la biodiversité…
                    </p>
                </div>
                <div class="col s12 l4">
                    <img src="{{ asset('assets/img/img-qui-sommes-nous.jpg') }}" alt="img_qui_somme_nous" class="responsive-img border-teal">
                </div>
            </div>
        </div>
    </div>
    <div class="container margin-t">
        <div class="row">
            <h3 class="margin-t lighter center-align">Objectifs de l'association</h3>
        </div>
    </div>
    <div class="container margin-t">
        <div class="row">
            <div class="col s12 l6">
                <div class="row center-align padding-15">
                    <div class="col offset-s2 s8 offset-l3 l6">
                        <img src="{{ asset('assets/img/img-biodiversite.jpg') }}" alt="img_1" class="responsive-img circle">
                    </div>
                </div>
                <div class="row center-align">
                    <p class="lighter col offset-l2 l8 s12 sub-title-presentation">Sensibilisation et protection de la biodiversité</p>
                </div>
                <div class="row center-align">
                    <p class="col offset-s1 s10">
                        Si la protection de la biodiversité était considérée il y a encore trente-cinq ans comme une affaire de spécialistes, tout le monde s’accorde aujourd’hui sur le fait que c’est en associant le plus grand nombre que le fameux patrimoine naturel, si souvent évoqué, échappera au déclin.
                    </p>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="row center-align padding-15">
                    <div class="col offset-s2 s8 offset-l3 l6">
                        <img src="{{ asset('assets/img/img-recherche-preservation.jpg') }}" alt="img_1" class="responsive-img circle">
                    </div>
                </div>
                <div class="row center-align">
                    <p class="lighter col offset-l1 l10 s12 sub-title-presentation">Mise en place d'un programme de recherche et de préservation</p>
                </div>
                <div class="row center-align">
                    <p class="col offset-s1 s10">
                        L’association partage chacune de vos observations avec la base de données du Muséum d’Histoire Naturelle afin de faciliter le travail des scientifiques et des experts, qui oeuvrent tous les jours à améliorer la préservation  de notre biodiversité et comprendre l’évolution des espèces en France.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="center-align border-teal-bottom">
        <div class="margin-t container padding-bottom">
            {% if is_granted(['ROLE_PARTICULAR', 'ROLE_NATURALIST', 'ROLE_ADMIN'])  %}
                <a href="{{ path('ajout_observation') }}" class="btn btn-brown btn-round">Contribuez</a>
            {% elseif is_granted(['ROLE_EDITOR']) %}
                <a href="{{ path('gerer-articles') }}" class="btn btn-brown btn-round">Contribuez</a>
            {% else %}
                <a href="{{ path('user_registration') }}" class="btn btn-brown btn-round">Rejoignez nous</a>
            {% endif %}
            <a href="https://www.facebook.com/nosamislesoiseauxasso" target="_blank" class="btn btn-brown btn-round">Suivez-nous</a>
        </div>
    </div>
    <div class="container">
        <h3 class="margin-t lighter center-align">Le mot du président</h3>
    </div>
    <div class="container">
        <div class="row block-president">
            <div class="col s12 hide-on-med-and-up margin-b">
                <img src="{{ asset('assets/img/img-President.jpg') }}" alt="photo_president" class="bottom-shadow responsive-img">
            </div>
            <div class="col s12 l6 hide-on-med-and-down">
                <img src="{{ asset('assets/img/img-President.jpg') }}" alt="photo_president" class="left img-president responsive-img">
            </div>
            <div class="col s12 l6 white-text grey text-president margin-b">
                <p class="text-justify">
                    Le constant est brutal et alarmant, en moins de 50 ans, l'action de l'homme a entrainé la disparition de la moitié des espèces d'oiseaux de la planète. Aujourd'hui, à travers l'association "Nos Amis les oiseaux", je souhaite mener un combat de front pour préserver notre biodiversité, sachant que notre faune sauvage y laisse des plumes !
                </p>
                <p class="text-justify">
                    Notre planète est unique, mais elle est fragile, c'est pourquoi je vous invite à contribuer, de près ou de loin, à notre service d'observations participatives.
                </p>
                <p class="text-justify">
                    Je remercie infiniment les adhérents qui oeuvrent à la sauvegarde de notre belle planète !
                </p>
            </div>
        </div>
    </div>
{% endblock %}