{% extends 'base.html.twig' %}
{% form_theme form 'materialize_layout.html.twig' %}

{% block title %} Page d'inscription {% endblock %}

{% block body %}
    <div class="center">
        <h1>Inscription</h1>
    </div>
    {{ include('common/breadcrumb.html.twig', {'breadcrumb' : breadcrumb }) }}
    <div class="container center">
        <p>
            *Champs obligatoires
        </p>
        {{ form_start(form) }}
        <div class="row">
            <div class="col s6">
                {{ form_row(form.lastname) }}
                {{ form_row(form.email.first) }}
                {{ form_row(form.date_of_birth) }}
                {{ form_row(form.username) }}
                {{ form_row(form.password.first) }}
            </div>
            <div class="col s6">
                {{ form_row(form.firstname) }}
                {{ form_row(form.email.second) }}
                {{ form_row(form.gender) }}
                {{ form_row(form.password.second) }}
            </div>
        </div>
        <button class="btn btn-connexion" type="submit"> Valider</button>
        {{ form_end(form) }}
    </div>




{% endblock %}