{% extends 'base.html.twig' %}

{% block title %} {{ bird.lbName }} {% endblock %}

{% block body %}
    <div class="container-my-observations">
        <div class="row">
            <div class="col s12 m5 border-real center">
                <!-- A supprimer le style -->
                <img style="height: 36.5rem; width: 36.5rem" src="
                    {% if bird.image %}
                        {{ image_birds_directory}}/{{ bird.image }}" alt="photo-especes" class="responsive-img border-teal">
                {% else %}
                    {{ asset('assets/img/bg_espece_inconnue_gris_2.jpg') }}" alt="photo-especes" class="responsive-img border-teal">
                {% endif %}
            </div>
            <div class="col s12 m7">
                <div class="row no-mad-bot">
                    <h1 class="little-h1">{{ bird.vernacularName }}</h1>
                    <div class="row">
                        <div class="height-tabs">
                            <ul class="row tabs">
                                <li class="tab col m4"><a href="#last-observations">Dernières observations</a></li>
                                <li class="tab col m4"><a href="#a-propos">&Agrave; propos</a></li>
                                <li class="tab col m4"><a href="#identity">Fiche d'identité</a></li>
                            </ul>
                            <div id="last-observations">
                                <ul>
                                    {% for observation in observations %}
                                        <li>- Observé le {{ observation.observationDate|date("d/m/Y") }}</li><br>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="row" id="a-propos">
                                <div class="col s12 m6 center">
                                    <img id="height-species-img" class="responsive-img" src="{{ asset('assets/img/Logo_inpn.jpg') }}">
                                </div>
                                <div class="col s12 m6 margin-top center">
                                    <a href="https://inpn.mnhn.fr/espece/cd_nom/{{ bird.cdName }}" target="_blank">
                                        <button class="btn btn-brown btn-round">Voir plus sur INPN</button>
                                    </a>
                                </div>
                            </div>
                            <div class="row" id="identity">
                                <div><i class="material-icons">subdirectory_arrow_right</i>Ordre : {{ bird.nameOrder }}</div>
                                <div class="taxo-family"><i class="material-icons">subdirectory_arrow_right</i>Famille : {{ bird.family }}</div>
                                <div class="taxo-specie"><i class="material-icons">subdirectory_arrow_right</i>
                                    {% if bird.rank == 'ES' %}
                                        Espèce : {{ bird.lbName }}
                                    {% else %}
                                        Sous-espèce : {{ bird.lbName }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="" id="mapSpecies"></div>
            </div>
        </div>
        <div class="row">
            {% for observation in observations %}
                <div class="col s6 m4 l2">
                    <img id="again-mesure" src="{{ image_observation_directory}}/{{ observation.image }}" alt="photo-{{ observation.bird.vernacularName }}" class="border-teal specie-observation">
                </div>
            {% endfor %}
        </div>
    </div>



    {#<div class="container-my-observations margin-t">
        <div class="row">
            <div class="col s12 m6 specie-picture responsive-img border-teal">
                <img src="
                    {% if bird.image %}
                        {{ image_birds_directory}}/{{ bird.image }}" alt="photo-especes" class="responsive-img border-teal">
                    {% else %}
                        {{ asset('assets/img/bg_espece_inconnue_gris_2.jpg') }}" alt="photo-especes" class="responsive-img border-teal">
                    {% endif %}
            </div>
            <div class="col s12 m6">
                    <h3 class="col s12">{{ bird.vernacularName }}</h3>
                <div class="row">
                    <ul class="tabs">
                        <li class="tab col s12 m4"><a href="#last-observations">Dernières observations</a></li>
                        <li class="tab col s12 m4"><a href="#a-propos">&Agrave; propos</a></li>
                        <li class="tab col s12 m4"><a href="#identity">Fiche d'identité</a></li>
                    </ul>
                    <div id="last-observations" class="col s12">
                        <ul>
                            {% for observation in observations %}
                               <li> Observé le {{ observation.observationDate|date("d/m/Y") }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="a-propos" class="col s12">
                        <div class="row">
                            <div class="col s8">
                                <img src="{{ asset('assets/img/Logo_inpn.jpg') }}">
                            </div>
                            <div class="col s4 center" style="margin: auto">
                                <a href="https://inpn.mnhn.fr/espece/cd_nom/{{ bird.cdName }}" target="_blank"><button class="btn btn-brown btn-round">Voir plus sur INPN</button></a>
                            </div>
                        </div>
                    </div>
                    <div id="identity" class="col s12">Test 3</div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for observation in observations %}
                <div class="col s6 m4 l2">
                    <img src="{{ image_observation_directory}}/{{ observation.image }}" alt="photo-{{ observation.bird.vernacularName }}" class="border-teal specie-observation">
                </div>
            {% endfor %}
        </div>
    </div>#}




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var map = L.map('mapSpecies', {
            center: [46.70973594407157, 2.6367187500000004],
            zoom: 5,
            zoomControl: false
        });
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiamVzZGF4IiwiYSI6ImNqbGlqcnJjazAxemsza3MxbGhvMTljd2UifQ.Sj-xlNYTfb_hU1R0XseFag',
        }).addTo(map);
    </script>
{% endblock %}