{% extends 'base.html.twig' %}

{% block title %}Profil - NAO{% endblock %}

{% block body %}
    <div class="valign-wrapper grey lighten-3 border-teal-bottom full-height padding-top padding-bottom">
        <div class="center-block full-width">
            <div class="row">
                <div class="col offset-s2 s8 offset-l5 l2">
                    <img src="{% if user.image is same as(null) %}{{ asset('assets/img/profile-placeholder.jpg') }}{% else %}{{ image_profile_directory }}/{{ user.image }}{% endif %}" alt="Photo_profil" class="responsive-img circle"/>
                </div>
            </div>
            <div class="row">
                <h1 class="center lighter">{{ user.username }}</h1>
            </div>
            {% if app.user.id is same as(user.id) %}
                <div class="row center-align">
                    {% if is_granted('ROLE_PARTICULAR') or is_granted('ROLE_NATURALIST') or is_granted('ROLE_ADMIN')%}
                        <a href="{{ path('ajout_observation') }}" class="btn btn-round btn-brown">Ajouter observation</a>
                        <a href="{{ path('mes_observations') }}" class="btn btn-round btn-brown">Mes observations</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('waiting-observation') }}" class="btn btn-round btn-brown">Observation en attente</a>
                    {% endif %}
                    {% if is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('gerer-articles') }}" class="btn btn-round btn-brown">Gérer les articles</a>
                    {% endif %}
                </div>
            {% endif %}
            <div class="row center-align">
                <a class="section scrollspy link-black" href="#"><i class="medium material-icons">expand_more</i></a>
            </div>
        </div>
    </div>

    {% if app.user.id is same as(user.id) and is_granted('ROLE_NATURALIST') %}
        {% set col_width = 4 %}
    {% else %}
        {% set col_width = 6 %}
    {% endif %}

    <div class="">
    <div class="row margin-t link-teal">

        {#---- Présetation ----#}
        <div class="col s12 l{{ col_width }}">
            <div class="card-panel card-profile">
                <div class="card-title valign-wrapper ">
                    <h5 class="center-block lighter">
                        Présentation
                    </h5>
                </div>
                <div class="card-content">
                    <div class="col s12">{{ user.lastname|upper }} {{ user.firstname }}</div>
                    <div class="col s12">{{ user.email }}</div>
                    <div class="col s12">Né le {{ user.dateOfBirth|date("d/m/Y") }}</div>
                    <div class="col s12">{% if user.gender == true %}Masculin{% else %}Feminin{% endif %}</div>
                    <div class="col s12">Inscrit le {{ user.registrationDate|date("d/m/Y") }}</div>
                </div>
            </div>
        </div>

        {#---- Dernier activité ----#}
        <div class="col s12 l{{ col_width }}">
            <div class="card-panel card-profile">
                <div class="card-title valign-wrapper">
                    <h5 class="center-block lighter">
                        Dernières activités
                    </h5>
                </div>
                <div class="card-content">
                    {% for observation in observations %}
                        <div class="col s12">
                            <span>Observation : </span><br>
                            <a href="{{ path('view_observation', { "id" : observation.id}) }}">
                                {% if observation.bird == null %}
                                    Espèce non connue
                                {% else %}
                                    {{ observation.bird.vernacularName }}
                                {% endif %}
                            </a><i> (
                            {% if observation.bird == null %}
                                -
                            {% else %}
                                {{ observation.bird.lbName }}
                            {% endif %})</i>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {#---- Validation ----#}
        {% if is_granted('ROLE_NATURALIST') or is_granted('ROLE_ADMIN') %}
        <div class="col s12 l{{ col_width }}">
            <div class="card-panel card-profile">
                <div class="card-title valign-wrapper">
                    <h5 class="center-block lighter">
                        Validation d'espèces
                    </h5>
                </div>
                <div class="card-content">
                    {% for validation in validations %}
                        <div class="col s12">
                            <span>Observation validée : </span><br>
                            <a href="{{ path('view_observation', { "id" : validation.id}) }}">{{ validation.bird.vernacularName }}</a><i> ({{ validation.bird.lbName }})</i>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {#---- Article ----#}
        {% if is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
        <div class="col s12 l{{ col_width }}">
            <div class="card-panel card-profile">
                <div class="card-title valign-wrapper">
                    <h5 class="center-block lighter">
                        Article
                    </h5>
                </div>
                <div class="card-content">
                    {% for article in articles %}
                        <div class="col s12">
                            <span>Article publié : </span><br>
                            <a href="{{ path('blog-article', { "id" : article.id}) }}">{{ article.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

    </div>
    </div>

    {% if app.user.id is same as(user.id) %}
        <div class="row center margin-t margin-b">
            <a href="{{ path('modify-profile') }}" class="btn btn-round btn-brown">Modifier le profil</a>
            {% if is_granted('ROLE_PARTICULAR') %}
                <a href="{{ path('demand') }}" class="btn btn-round btn-brown">Demande naturaliste</a>
            {% endif %}
            {% if is_granted('ROLE_NATURALIST') %}
                <a href="{{ path('waiting-observation') }}" class="btn btn-round btn-brown">Observation en attente</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="#" class="btn btn-round btn-brown">Gérer Utilisateur </a>
                <a href="{{ path('waiting-demand') }}" class="btn btn-round btn-brown">Certifier un naturlaiste</a>
            {% endif %}
            <a href="{{ path('security_logout') }}" class="btn btn-round btn-brown">Déconnexion</a>
        </div>
    {% endif %}
{% endblock %}