{% extends 'base.html.twig' %}

{% block title %}Mes observations{% endblock %}
{% block body %}

    <div class="center">
        <h1 class="header-text">Mes observations</h1>
    </div>
    <div class="margin-bottom">
        {{ include('common/breadcrumb.html.twig', {'breadcrumb' : breadcrumb }) }}
    </div>
    <div class="container-my-observations">
        <div class="row">
        {% for observation in observations %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ image_observation_directory}}/{{ observation.image }}">

                        <a class="btn-floating btn-large halfway-fab waves-effect waves-light maroon"  href="{{ path('view_observation', {'id': observation.id}) }}"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <span class="title-card-my-observations">{{ observation.bird.vernacularName }}</span>
                        <p class="content-card-my-observations">{{ observation.addingDate|date("d/m/Y") }} -
                            {% if  observation.status == false %}
                                En cours de validation
                            {% else %}
                                Observation validée
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}